<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/mescroll.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/vue.js" type="text/javascript" charset="utf-8"></script>

    <link href="css/mui.min.css" rel="stylesheet"/>
    <link href="css/ref.css" rel="stylesheet"/>
    <link href="css/mui.picker.min.css" rel="stylesheet" />
    <link href="css/mui.poppicker.css" rel="stylesheet" />
    <link href="css/mescroll.min.css" rel="stylesheet" />
</head>
<body>
	<div id="app" class="mui-off-canvas-wrap mui-draggable">
		<aside id="menu" class="mui-off-canvas-left">
			<div id="offCanvasSideScroll" class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<div class="describe">
						<img src="img/referigerator.png" class="logo"/>
						<h3 class="sub-title">一个简易的冰箱内容管理系统</h3>
					</div>
					<ul class="mui-table-view mui-table-view-chevron mui-table-view-inverted">
            <li class="mui-table-view-cell index-link">
							<a lang="index" class="mui-navigate-right">
							</a>
						</li>
            <li class="mui-table-view-cell">
							<a class="mui-navigate-right create-item">
								添加项目
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a class="mui-navigate-right cate-manage">
								分类管理
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a class="mui-navigate-right menu-option">
								设置
							</a>
						</li>
					</ul>
					<div class="footer">
						<p>AI-HOME 2017 &copy; 版权所有 禁止商用</p>
					</div>
				</div>
			</div>
		</aside>
		<div id="content" class="mui-inner-wrap">
	 	<header class="mui-bar mui-bar-nav">
			<a class="mui-icon mui-action-menu mui-icon-bars mui-pull-left"></a>
	    		<h1 class="mui-center mui-title" v-text="title"></h1>
      <a id="add" class="mui-icon mui-action-menu mui-icon-plus mui-pull-right create-category mui-page"></a>
		</header>
		<div id="index" class="mui-content mui-scroll-wrapper mescroll">
			<div class="mui-scroll">
			<div class="item" v-for="(cate,index) in cargo.category" v-if="cargo.items[index].length > 0||options.general.showVoid">
				<div class="title" v-text="cate.text"></div>
	    			<ul class="mui-table-view">
	        			<li class="mui-table-view-cell" v-for="(item,itdex) in cargo.items[index]">
	        				<div class="mui-slider-handle" v-text="item.name"></div>
	      				  <div class="mui-slider-left mui-disabled">
							        <a class="mui-btn mui-btn-red item-delete">删除</a>
							        <a class="mui-btn mui-btn-blue item-modify">修改</a>
						      </div>
						      <span class="mui-badge item-num" :class="numWarning(item.quantity)" v-text="item.quantity"></span>
	        			</li>
	    			</ul>
			</div>
			</div>
		</div>

    <div id="modify" class="mui-content mui-scroll-wrapper mui-page">
    	<div class="mui-content">
    		<form class="mui-input-group">
    			<div class="mui-input-row">
    				<label id="item_name">物品名称</label>
    				<input type="text" id="modify-name" class="mui-input-clear" placeholder="请输入物品名称"/>
    			</div>
    			<div class="mui-input-row">
    				<label id="item_num">物品数量</label>
    				<div class="mui-numbox" data-numbox-min='1'>
    					<button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
    					<input  class="mui-input-numbox" type="number" id="modify-num"/>
    					<button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
    				</div>
    			</div>
    			<div class="mui-input-row">
    				<label id="item_cate">物品类别</label>
    				<button id='showUserPicker' class="mui-btn mui-btn-numbox-minus" type='button'></button>
    			</div>
    			<div class="mui-button-row">
    				<button type="button" class="mui-btn mui-btn-primary modify-load">确认</button>
    				<button type="button" class="mui-btn mui-btn-danger modify-cancel">取消</button>
    			</div>
    		</form>
    	</div>
    </div>

    <div id="manage" class="mui-content mui-scroll-wrapper mui-page">
    	<div class="mui-scroll">
    		<ul id="catelist" class="mui-table-view lists">
    	     <li class="mui-table-view-cell" v-for="(cate,index) in cargo.category">
    	        <div class="mui-slider-handle" v-text="cate.text" :value="index"></div>
    	      	<div class="mui-slider-left mui-disabled">
    					   <a class="mui-btn mui-btn-red cate-delete">删除</a>
    					   <a class="mui-btn mui-btn-blue cate-modify">修改</a>
    				  </div>
           </li>
    		</ul>
    	</div>
    </div>
		</div>

    <div id="option" class="mui-page">
    	<div class="mui-bar mui-bar-nav">
    		<a class="mui-icon mui-icon-left-nav option-btn"></a>
    		<h1 id="option-title" class="mui-center mui-title" v-text="optitle"></h1>
    	</div>
    	<div class="mui-content">
        <div id="choise" class="mui-scroll-wrapper">
          <div class="mui-scroll tops">
            <ul class="mui-table-view mui-table-view-chevron blocks">
              <li class="mui-table-view-cell">
                <a class="mui-navigate-right to-general">全局设置</a>
              </li>
              <li class="mui-table-view-cell">
                <a class="mui-navigate-right to-warn">数量预警设置</a>
              </li>
            </ul>
            <ul class="mui-table-view mui-table-view-chevron blocks">
              <li class="mui-table-view-cell">
                <a class="mui-navigate-right to-about">关于应用 <i class="mui-pull-right update" v-text="options.general.version"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div id="general" class="mui-page">
          <ul class="mui-table-view blocks">
            <li class="mui-table-view-cell">
              <div class="mui-input-row">
                <label>应用标题</label>
                <input type="text" id="app-title" class="mui-input-clear" placeholder="请输入应用标题" :value="title" v-model="title"/>
              </div>
            </li>
          </ul>

          <ul class="mui-table-view blocks">
            <li class="mui-table-view-cell">
              显示空类目
              <div id="void-switch" class="mui-switch mui-active">
                <div class="mui-switch-handle"></div>
              </div>
            </li>
            <li class="mui-table-view-cell">
              中文/English
              <div id="language-switch" class="mui-switch mui-active">
                <div class="mui-switch-handle"></div>
              </div>
            </li>
            <li class="mui-table-view-cell">
              夜间模式
              <div id="night-switch" class="mui-switch">
                <div class="mui-switch-handle"></div>
              </div>
            </li>
          </ul>
        </div>
        <div id="warn" class="mui-page">
          <ul class="mui-table-view blocks">
            <li class="mui-table-view-cell">
              开启功能
              <div id="num-switch" class="mui-switch mui-active">
                <div class="mui-switch-handle"></div>
              </div>
            </li>
          </ul>
          <ul class="mui-table-view blocks" v-show="options.warns.show">
            <li class="mui-table-view-cell">
              <div class="mui-input-row mui-input-range">
                  <label>选择等级</label>
                  <input type="range" id='inline-range' :value="options.warns.level" min="2" max="3">
                  <span v-text="options.warns.level"></span>
              </div>
            </li>
            <li class="mui-table-view-cell" v-for="(level,index) in options.warns.brandary" v-if="index < options.warns.level-1">
              <div class="mui-input-row">
        				<label>边界数值</label>
        				<input type="text" :id="'level-'+index" class="mui-input-clear" placeholder="请输入边界数值" :value="level" v-model.number="options.warns.brandary[index]"/>
        			</div>
            </li>
          </ul>
        </div>
        <div id="about" class="mui-page">
          <p class="about-des">电冰箱管理系统是一个简易的管理冰箱内物品的模块，基于mui制作 使用MangoDB和Node.js 纯属练手 有错误请通过如下方式联系作者</p>
      			<div class="mui-card" style="margin-bottom: 35px;">
      				<ul class="mui-table-view">
      					<li class="mui-table-view-cell">
      						<a class="mui-navigate-right">
      							Github
      						</a>
      						<span class="mui-badge mui-badge-primary">@sleepwood</span>
      					</li>
      					<li class="mui-table-view-cell">
      						<a class="mui-navigate-right">
      							weibo
      						</a>
      						<span class="mui-badge mui-badge-primary">@abyss_earl</span>
      					</li>
      					<li class="mui-table-view-cell">
      						<a class="mui-navigate-right">
      							E-mail
      						</a>
      						<span class="mui-badge mui-badge-primary">shenyuan1996@126.com</span>
      					</li>
      				</ul>
      			</div>
        </div>
    	</div>
    </div>

	</div>
</div>
</body>
<script src="js/ref.js" type="text/javascript" charset="utf-8"></script>
</html>
